@use '@styles/variables' as *;

.standingsFilters {
  display: flex;
  flex-direction: column;
  gap: $space-l $space-m;
  max-width: 100%;
  margin-bottom: $space-l;
}

.filtersRow {
  display: flex;
  flex-wrap: wrap;
  gap: $space-l $space-m;
}

.dropdown {
  flex: 1 1 0;
  min-width: 300px;
}
