@use '@styles/variables' as *;
@use '@styles/mixins' as *;

.link {
  text-decoration: none;
  color: inherit;
  display: block;
}

.articleCard {
  display: flex;
  background: $color-surface;
  border-radius: $border-radius;
  overflow: hidden;
  transition: box-shadow 0.2s;

  &:hover {
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
  }

  @include tablet {
    flex-direction: column;
  }

  .image {
    flex-shrink: 0;
    width: 300px;
    aspect-ratio: 16 / 10;
    background: $color-grey;
    overflow: hidden;
    position: relative;

    @include tablet {
      width: 100%;
      aspect-ratio: 16 / 10;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &Body {
    padding: $space-m;
    display: flex;
    flex-direction: column;
    gap: $space-m;
    flex: 1;

    .title,
    .excerpt {
      display: block;
    }

    .meta {
      margin-top: auto;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      gap: $space-xs;
    }
  }
}

.imageSkeleton {
  width: 100%;
  height: 100%;
}

.metaItem {
  flex-shrink: 0;
}
