@use '@styles/variables' as *;

.newsList {
  display: flex;
  flex-direction: column;
  gap: $space-s;
  margin: 0;
  padding: 0;
  list-style: none;
}

.newsItem {
  border-radius: 10px;
  background-color: $color-surface;
  transition: background-color 0.2s ease;

  &:hover {
    background-color: $color-grey-overlay;
  }
}
